#gameCanvas {
    background-color: rgb(14, 193, 14);
    display: block;
    text-align: center;
    border: 4px solid rgb(0, 0, 0);
    margin: 30px auto;
}

#ceu {
    background-color: rgb(7, 115, 18);
}
